#Xcode
build/
xcuserdata
.idea/
*.xccheckout
DerivedData
*.xcuserstate
**/*.xcworkspace/*
**/!*.xcworkspace/contents.xcworkspacedata
**/*.xcuserdata/*
*.generated.swift
*.DS_Store
.DS_Store
/.DS_Store
*.xcfilelist

Pods/
KazanExpress.xcodeproj/xcuserdata/
KazanExpress.xcworkspace/xcuserdata/
